* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 95%;
  margin: auto;
  padding: auto;
}

sup {
  font-weight: lighter;
  font-size: x-small;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.1rem;
}
.logo {
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
}

.logo ul li {
  display: inline-block;
  padding: 0.5rem;
  list-style: none;
}

.logo ul li a {
  text-decoration: none;
  color: black;
}

.youtube i {
  color: red;
}

#mid-buttons i {
  padding: 0.5rem;
  color: rgb(86, 97, 107);
}

#right-icons {
  margin-right: 1.5rem;
}

#right-icons i {
  padding: 0.5rem;
  color: rgb(86, 97, 107);
}

#search {
  font-size: large;
  width: 35vw;
  height: 35px;
  border-radius: 2px;
  border-color: silver;
}

#search:focus {
  border: solid royalblue;
  outline: royalblue;
}

#side-bar {
  max-width: 14%;
  justify-content: space-between;
}

#side-bar .first-list {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: solid silver;
}

#side-bar .last-list {
  margin-top: -0.5rem;
}

#side-bar ul {
  list-style: none;
}

#side-bar ul li {
  padding: 1rem 0rem;
  text-align: justify;
  border-radius: 2px;
}

#side-bar ul li:hover {
  background: silver;
  border-radius: 2px;
}

#side-bar ul li a {
  text-decoration: none;
  color: rgb(86, 97, 107);
  font-size: small;
  font-weight: bold;
}

#side-bar ul li i {
  padding-right: 1rem;
  padding-left: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 80.9vw;
  height: 22.8vh;
  position: relative;
  bottom: 638px;
  left: 201px;
}

.header .image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.header .image img {
  border-radius: 50%;
}

.header .name {
  display: inline-block;
  padding-left: 1rem;
}
.header .name h2 {
  text-align: center;
  color: rgb(86, 97, 107);
}

.header .name p {
  color: gray;
  padding-top: 0.2rem;
  font-size: small;
  font-weight: bold;
}

.header .buttons {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.buttons .btn-1 {
  padding: 0.3rem 1rem;
  margin: 0.3rem 0.5rem;
  color: dodgerblue;
  border: solid dodgerblue;
  background: white;
  border-width: thin;
  font-weight: bold;
}

.buttons .btn-2 {
  padding: 0.3rem 1rem;
  margin: 0.3rem 0.5rem;
  font-weight: bold;
  background: rgb(223, 223, 223);
  color: slategray;
  border-width: inherit;
}

.buttons i {
  color: slategray;
}

.menu-list ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  position: absolute;
  left: 150px;
  bottom: 0px;
}

.menu-list ul li {
  padding: 1rem 1.7rem;
}

.menu-list ul a {
  text-decoration: none;
  color: rgb(86, 97, 107);
  font-size: small;
  font-weight: bold;
}

.menu-list ul i {
  align-items: center;
}

.main {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80.9vw;
  position: relative;
  bottom: 637px;
  left: 201px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: solid silver;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
}

.boxes .box {
  background: royalblue;
  padding: 1rem 1.2rem;
  margin: 0.2rem;
  position: relative;
}

.box .box-title h2 {
  color: turquoise;
  font-weight: bolder;
  padding-bottom: 0.75rem;
}

.box .box-name h6 {
  color: turquoise;
  opacity: 0.7;
}

.title {
  display: flex;
  padding: 0, 75rem;
  margin-right: 46.5rem;
}

.title h5 {
  padding-right: 2rem;
  padding-bottom: 1rem;
  color: rgb(86, 97, 107);
}

.title p {
  color: gray;
  font-size: small;
  font-weight: bold;
}

.title p i {
  padding-right: 1rem;
  color: rgb(86, 97, 107);
}

.boxes .no span {
  background: turquoise;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 4px;
}

.headline {
  display: inline-block;
  padding: 0.3rem;
  margin: 0.1rem;
}

.headline h5 {
  padding-bottom: 0.5rem;
  color: rgb(10, 18, 26);
}

.headline h6 {
  padding-bottom: 0.1rem;
  color: gray;
}
